body {
    margin: 0;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}
h2 {
    @extend %headline-3-bold;    
    margin: 0;
}
h5 {
    @extend %headline-6-semibold;
    margin: 0;
}
p {
    margin: 0;
}
.container {
    max-width: 1044px;
    margin: auto;
}
.columns {
    display: flex;
}
.button {
    background-color: $deep-blue;
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
    color: $pure-white;
    font-family: $primary-font;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
    &:hover {
        background-color: $deep-blue-hover;
        box-shadow: 0 10px 12px $deep-blue-shadow;
    }
    &:active {
        background-color: $deep-blue;
    }
}