/* Headline */
%headline-3-bold {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 2.57em;
}
%headline-4-semibold {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 2em;
}
%headline-5-semibold {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.71em;
}
%headline-6-semibold {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.43em;
}
/* Subtitle */
%subtitle-1-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.43em;
}
%subtitle-1-semibold {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 1.43em;
}
%subtitle-2-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.28em;
}
%subtitle-2-semibold {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 1.28em;
}
%subtitle-3-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.14em;
}
/* Caption */
%caption-1-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.28em;
}
%caption-2-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.14em;
}
%caption-2-regular {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.14em;
}
%caption-3-regular {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1em;
}
%caption-3-medium {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1em;
}
%caption-4-regular {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 0.86em;
}
/*Label*/
%label-1-semibold {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.14em;
}
%label-2-semibold {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1em;
}
/*Capaitalised*/
%capaitalised {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: $brave-yellow;
}
/*Align*/
%align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}