.header {
    background-color: $dark-blue;
    & > .container {
        height: 84px;
        align-items: center;
    }
    &__logo {
        flex: 1;
    }
    &__menu {
        &__list {
            padding: 0;
            margin: 0;
            display: flex;
            list-style-type: none;
        }
        &__list-item {
            margin-left: 35px;
        }
        &__link {
            font-family: $primary-font;
            color: $pure-white;
            text-decoration: none;
            opacity: 0.6;
            transition: .1s;
            &:hover {
                opacity: 1;
            }
            &_active {
                opacity: 1;
            }
        }
    }
    &__button {
        margin-left: 40px;
    }
}