$pure-white: #ffffff;
$pure-black: #000000;

$title-light: #eeeeee;

$description-light: #ACAFB8;
$description-dark: #4C526A;

$deep-blue: #0432DF;
$deep-blue-hover: #0029C2;
$deep-blue-shadow: #0432df1f;

$dark-blue: #020D37;
$dark-blue-70: #020d37b3;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;

$invisible: #00000000;

