$pure-white: #fff;
$pure-black: #000;

$deep-blue: #0432DF;
$deep-blue-hover: #0029C2;
$deep-blue-shadow: #0432df1f;

$dark-blue: #020D37;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;

